<%= image_tag @photo.image %>

<% @photo.users.each do |user| %>
  <%= user.name %>
<% end %>

<% if user_signed_in? %>
  <% if current_user.id == @photo.owner_id %>
    <%= simple_form_for @photo do |f| %>
      <%= f.association :users, collection: User.all, as: :check_boxes %>
      <%= f.button :submit %>
    <% end %>
    <br>
    <button class="btn">
      <%= link_to "Delete", user_photo_path(@photo.owner_id, @photo),
      data: {:confirm => "Are you sure?",
        :method => "delete" } %></button>
  <% end %>


    <%= link_to "Favorite", :favorite => 1 %>
    <%= link_to "Unfavorite", :favorite => -1 %>

<% end %>

<%= @photo.get_likes.size - @photo.get_dislikes.size %>
<% if current_user.voted_as_when_voted_for @photo %>
  <h4>You Liked This</h4>
<% end %>
