<%= image_tag @photo.image %>

<% @photo.users.each do |user| %>
  <%= user.name %>
<% end %>

<% if user_signed_in? %>
  <% if current_user.voted_as_when_voted_for @photo %>
    <%= link_to '<span class="glyphicon glyphicon-star" aria-hidden="true"></span>'.html_safe, :favorite => -1 %>
  <% else %>
      <%= link_to '<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>'.html_safe, :favorite => 1 %>
  <% end %>
  <% if current_user.id == @photo.owner_id %>
    <%= simple_form_for @photo do |f| %>
      <%= f.association :users, collection: User.all, as: :check_boxes %>
      <%= f.button :submit %>
    <% end %>
    <br>
    <button class="btn">
      <%= link_to "Delete", user_photo_path(@photo.owner_id, @photo),
      data: {:confirm => "Are you sure?",
        :method => "delete" } %></button>
  <% end %>

<% end %>

<h3>Likes: <%= @photo.get_likes.size%></h3>

<%= render "form_comments" %>

<h1>Comments</h1>
<% @comments.each do |comment| %>
  <p><%= comment.content %></p>
<% end %>
